/* FONTS */
.font-poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* FONTS END*/

.navbar-css {
  background-color: rgb(222, 222, 222);
  margin-bottom: 3px;
}

.banner-atas {
  display: flex;
  margin: 3px 0;
}

.img-thumbnail {
  border: none !important;
}

.banner-atas > img {
  width: 130px;
}

.judul-banner {
  background-image: url("../galeri/Carousel/2.png");
  background-position: center;
  background-size: cover;
  font-size: 25px !important;
  font-weight: 500;
  text-align: center;
  padding: 25px 0;
  color: black;
}

.menu-konten {
  margin-bottom: 3px;
}

.isi-konten {
  background-color: rgb(241, 241, 241);
}
.td-column {
  padding: 12px !important;
}

